*
{
    box-sizing: border-box;
}
body
{
    background-color: #161647;
}
.buscador
{
   margin-right: 3%;
}
.buscador input
{
    padding: 0 20px;
    font-size: 15px;
    color: #FF1776;
    border:1.7px solid silver;
    border-radius: 20px;
    outline: none;
}
.buscador_
{
    height: 30px;
}
.header1
{
    display: flex;
    justify-content: center;
    list-style: none;  
    background-color: #24247E;
    background-size: 99%;
    border-radius: 15px;
    border:15px solid #24247E ;
    width: 99%;
}
.logins
{
    margin-right:3%;
    color: #FF1776;
    font-size: 130%;
    font: 400 1rem/1.5625rem sans-serif;
    border:1.7px solid #161647;
    border-radius: 20px;
    padding:0 20px;
    height: 30px;
    background-color: #161647;
}
.logo
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 120px;
    padding-bottom: 30px;  
}
.log
{
    display: flex;
    width: 20%;
    flex-wrap: nowrap;
}
.slogan
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font: 400 1rem/1.5625rem sans-serif;
    font-size:90px;
    font-style: italic;
    margin-left: 100px;
    color: #FF1776;
}
.sacar
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px;
    transition: transform .2s;
}
.amg
{
    border: solid 6px #FF1776 ;
    border-radius: 15px;
}
.sacar:hover
{
    transform: scale(1.1);
}
.narnia
{
    width:16% ;   
}
.qpa
{
    width: 16.1%;
}
.simpsons
{
    width: 18.86%;
}

.hustle
{
    width:15.99% ;
}
.up
{
    width:15.89% ;
}
.pkb
{
    width:17% ;
}
.bcs
{
    width:16.2% ;
}
.strt
{
    width:18.1% ;
}
.brb
{
    width:16.2% ;
}
.cars
{
    width:18.2% ;
}
.kfp
{
    width:15.87% ;
}
.tyt
{
    width:14.93% ;
}
.scn
{
    width:15.8% ;
}
.stw
{
    width: 15.77%;
}
.menu
{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
width: 100%;
}
.L
{
    margin-top: 5%;
}
.xl
{
    margin-top: 9%;
}
.titulos_seccion
{
    color: #FF1776;
    font: 400 1rem/1.5625rem sans-serif;
    font-size: 300%;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}
.orden1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
}
.botones_titulos
{
    color: white;
    padding-right: 0px;
    margin-right: 0px;
    text-decoration: none;
    text-align: center;
}
.contenido
{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    width: 380px;
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 50px;
    color: white;
    font-family: 400 1rem/1.5625rem sans-serif
}
.contenido_2
{
    flex-direction: column;
    margin-left: 80px;
}
.contenido_3
{   
    flex-direction: row;
    width: 700px;
    font-size: 20px;
    margin-top: 200px;
}
.titulo 
{
   display: flex;
   flex-direction: row;
  color: white;
  font-size: 60px;
  font-style: italic;
  margin-top: 50px;
}
.foto_1 
{
    size: 200px;
}
.slogana {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font: 400 1rem/1.5625rem sans-serif;
    font-size:70px;
    font-style: italic;
    margin-left: 100px;
    color: #FF1776;
}
.letraf{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-small;
}
.centrar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.part
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}
.movc{
    background-color: #FF1776;
}
.same{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}