*
{
    box-sizing: border-box;
}
body
{
    background-color: rgb(22, 22, 71 );
}
.a-bus
{
    text-decoration: none;
    color: black;
    text-align: right;
    list-style-type: none;
}
.nav-bus
{
   display:flex;
   flex-wrap: wrap; 
   flex-direction: row;
   justify-content: flex-end; 
}
.header1
{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    list-style: none;  
}
.logins
{
    margin-left: 20%;
    color: #FF1776;
    font-size: 130%;
}
.urls
{

}
.logo
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 120px;
    padding-bottom: 30px;  
}
.log
{
    display: flex;
    width: 250px;
    flex-wrap: nowrap;
}
.slogan
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font: 400 1rem/1.5625rem sans-serif;
    font-size:70px;
    font-style: italic;
    margin-left: 100px;
    color: #FF1776;
}
.rankings
{
    display: flex;
    flex-direction: row;
    color: #FF1776;
}
.sacar
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px;
    border: solid 6px #FF1776 ;
    transition: transform .2s;
}
.amg
{
    border-bottom: solid 6px #FF1776 ;
}
.sacar:hover
{
    transform: scale(1.1);
}
.narnia
{
    width:16% ;   
}
.qpa
{
    width: 16.1%;
}
.simpsons
{
    width: 18.86%;
}

.hustle
{
    width:15.99% ;
}
.up
{
    width:15.89% ;
}
.pkb
{
    width:17% ;
}
.bcs
{
    width:16.2% ;
}
.strt
{
    width:18.1% ;
}
.brb
{
    width:16.2% ;
}
.cars
{
    width:18.2% ;
}
.kfp
{
    width:15.87% ;
}
.tyt
{
    width:14.93% ;
}
.scn
{
    width:15.8% ;
}
.stw
{
    width: 15.77%;
}
.movt
{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
width: 100%;
}
.ter
{
    margin-top: 10%;
}
.movc
{
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.hy
{
    color: #FF1776;
    font: 400 1rem/1.5625rem sans-serif;
    font-size: 300%;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}
.same
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
}
.bot
{
    color: white;
    padding-right: 0px;
    margin-right: 0px;
    text-decoration: none;
    text-align: center;
}
.contenido
{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    width: 380px;
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 50px;
    color: white;
    font-family: 400 1rem/1.5625rem sans-serif
}
.contenido_2
{
    flex-direction: column;
    margin-left: 80px;
}
.contenido_3
{   
    flex-direction: row;
    width: 700px;
    font-size: 20px;
    margin-top: 200px;
}
.titulo 
{
   display: flex;
   flex-direction: row;
  color: white;
  font-size: 60px;
  font-style: italic;
  margin-top: 50px;
}
.foto_1 
{
    size: 200px;
}
.slogana {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font: 400 1rem/1.5625rem sans-serif;
    font-size:70px;
    font-style: italic;
    margin-left: 100px;
    color: #FF1776;
}
.letraf{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-small;
}
.centrar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.part
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}
.ord
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 5%;
}
.h4s
{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    color: #FF1776;
}
/*Justo probando */